<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>filter.PrivilegeFilter</filter-class>
    
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/manager/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>Role_UI</display-name>
    <servlet-name>Role_UI</servlet-name>
    <servlet-class>web.UIController.Role_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_UI</servlet-name>
    <url-pattern>/Role_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Privilege_UI</display-name>
    <servlet-name>Privilege_UI</servlet-name>
    <servlet-class>web.UIController.Privilege_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Privilege_UI</servlet-name>
    <url-pattern>/Privilege_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrivilegeForm_UI</display-name>
    <servlet-name>PrivilegeForm_UI</servlet-name>
    <servlet-class>web.UIController.PrivilegeForm_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivilegeForm_UI</servlet-name>
    <url-pattern>/PrivilegeForm_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrivilegeForm_Controller</display-name>
    <servlet-name>PrivilegeForm_Controller</servlet-name>
    <servlet-class>web.controller.PrivilegeForm_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivilegeForm_Controller</servlet-name>
    <url-pattern>/PrivilegeForm_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleForm_UI</display-name>
    <servlet-name>RoleForm_UI</servlet-name>
    <servlet-class>web.UIController.RoleForm_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleForm_UI</servlet-name>
    <url-pattern>/RoleForm_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleForm_Controller</display-name>
    <servlet-name>RoleForm_Controller</servlet-name>
    <servlet-class>web.controller.RoleForm_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleForm_Controller</servlet-name>
    <url-pattern>/RoleForm_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantRolePrivilege_UI</display-name>
    <servlet-name>GrantRolePrivilege_UI</servlet-name>
    <servlet-class>web.UIController.GrantRolePrivilege_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantRolePrivilege_UI</servlet-name>
    <url-pattern>/GrantRolePrivilege_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantRolePrivilege_Controller</display-name>
    <servlet-name>GrantRolePrivilege_Controller</servlet-name>
    <servlet-class>web.controller.GrantRolePrivilege_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantRolePrivilege_Controller</servlet-name>
    <url-pattern>/GrantRolePrivilege_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_UI</display-name>
    <servlet-name>User_UI</servlet-name>
    <servlet-class>web.UIController.User_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_UI</servlet-name>
    <url-pattern>/User_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantUserRole_UI</display-name>
    <servlet-name>GrantUserRole_UI</servlet-name>
    <servlet-class>web.UIController.GrantUserRole_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantUserRole_UI</servlet-name>
    <url-pattern>/GrantUserRole_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrantUserRole_Controller</display-name>
    <servlet-name>GrantUserRole_Controller</servlet-name>
    <servlet-class>web.controller.GrantUserRole_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantUserRole_Controller</servlet-name>
    <url-pattern>/GrantUserRole_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserForm_UI</display-name>
    <servlet-name>UserForm_UI</servlet-name>
    <servlet-class>web.UIController.UserForm_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForm_UI</servlet-name>
    <url-pattern>/UserForm_UI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserForm_Controller</display-name>
    <servlet-name>UserForm_Controller</servlet-name>
    <servlet-class>web.controller.UserForm_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForm_Controller</servlet-name>
    <url-pattern>/UserForm_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_Controller</display-name>
    <servlet-name>LoginServlet_Controller</servlet-name>
    <servlet-class>web.controller.LoginServlet_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_Controller</servlet-name>
    <url-pattern>/LoginServlet_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_UI</display-name>
    <servlet-name>LoginServlet_UI</servlet-name>
    <servlet-class>web.UIController.LoginServlet_UI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_UI</servlet-name>
    <url-pattern>/LoginServlet_UI</url-pattern>
  </servlet-mapping>
</web-app>